//META{"name":"NotAnotherAnimeThemeDCSL","description":"Anime theme made by puckzxz#2080 and Quake#1470, make sure you're up to date at https://goo.gl/jfR9BS , Get support here https://discord.gg/FdZhbjY","author":"puckzxz#2080 & Quake#1470","version":"2.0"}*//{}
@import url(https://8xs4qxklp8.execute-api.us-east-2.amazonaws.com/release/gorawgit?giturl=/puckzxz/NotAnotherAnimeTheme/master/css/dcsl.css);

/* To make editing this theme easier I recommend using Notepad++ , you can download it for free here - https://notepad-plus-plus.org/download/ */


/* Any images you use MUST end with .jpg or .png or any other image extension */
/* This is NOT a valid link, https://imgur.com/a/ycjL2 */
/* THIS IS A VALID LINK https://i.imgur.com/rCqnrQ7.jpg */

/* If you find an image I would STRONGLY recommend rehosting the image on imgur https://imgur.com/upload */


:root {
    /* Edit this to change your background */
    --background: 
    url(https://wallpapersmug.com/u/6ba923/cave-railroads-path-of-exile.jpg);  /*Wallpaper:  default https://i.imgur.com/ogpTpOI.png https://wallpapersmug.com/u/6ba923/cave-railroads-path-of-exile.jpg */
    /* Overall brightness. 1= black, 0 = transparent */
    --light: rgba(0, 0, 0, 0.6); 
    --trans: rgba(0, 0, 0, .0); 
    /* Edit this to change your friends icon picture, picture  */
    --friends-icon: 
    url(https://cdn.discordapp.com/attachments/474640233019998220/476734080365494282/58240033_p0.jpg); /* format is url(IMAGE URL HERE) */
    /* Edit this to change your friends icon picture, position  */
    --friends-icon-position: center center; /* default: center center */
    /* Edit this to change your friends icon picture, zoom  */
    --friends-icon-zoom: 100%; /* default: 100% */
    /* Change the main color */
    --main-color: #2f7cc4; /* default: rgb(67, 181, 129); */
    /* Chande global transparency */
    --main-transparency: rgba(0, 0, 0, 0.8); /* default: rgba(0, 0, 0, 0.8); */ 

    /* Change the unread server animation. Replace it with "none" in order to remove any animations */
    --unread-server-animation: rainbow;
    /* Change background color when you hover members or friends */
    --hover-list-bg-color: rgba(255,255,255, .15); /* default: rgba(255,255,255, .15) */
    /* Change the tiny border lines color */
    --border-lines-color: hsla(0,0%,100%,.1); /* default: hsla(0,0%,100%,.1);*/
    /* Change the scroll bar color appearence */
    --scroll-bar-color: rgba(255,255,255, .15); /* default: rgba(255,255,255, .15);*/

    /* Change chat messages font size, you can use any unit: px, em, rem, %, etc. */
    --font-size: 16px; /* default: 16px */
    /* Edit this to change the color of a selected text or voice join */
    --selected-text-voice-color: #f6f6f7; /* default: #f6f6f7 */
    /* Edit this to change the color when you hover over a text channel */
    --text-hover-color: #b9bbbe; /* default: #b9bbbe */
    /* Edit this to change the color when you hover over a voice channel */
    --voice-hover-color: #f6f6f7; /* default: #f6f6f7 */
    /* Edit this to change the color of an unread text channel color */
    --unread-text-color: #dcddde; /* default: #dcddde */
    
    /* Write "transparent" in order to make the options sections with the same look as the theme  */
    --options-transparency: transparent; /* default: #2f3136 */
}
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ADD CODE BELOW TO CUSTOMIZE THE THEME */

/* Settings background */
#app-mount .ui-standard-sidebar-view { 
    background: url(https://i.imgur.com/Wwow7Lz.png)
    transparent
    no-repeat center/cover 
}
#app-mount .ui-standard-sidebar-view .sidebar-region, .ui-standard-sidebar-view .content-transition-wrap, #app-mount .ui-standard-sidebar-view .content-region {background: rgba(0,0,0,0.35) !important}
.theme-dark .topSectionNormal-2LlRG1, .body-3_tdh6, .headerTop-3C2Zn0, .tabBar-2MuP6-, .tabBarContainer-1s1u-z, .activityProfile-2bJRaP, .activityUserPopout-2yItg2, .body-3iLsc4, .footer-1fjuF6, .topSectionPlaying-3jAH9b{background: rgba(20, 23, 27, .9), url(https://i.imgur.com/8CtwHrd.png) !important}
.message-group .comment .markup :pre{border-color: #4381b5}
/* Channel Colors + Icon */
.content-3JzEqq, .colorTransition-2-M2tg, .iconTransition-2pOJ7l {
    color:#2f7cc4
}
/* Main background/TitleBar etc */
.appMount-3VJmYg {background: var(--background) center/cover no-repeat} /* Background */
.theme-dark .container-2lgZY8,.theme-dark .ui-standard-sidebar-view,.titleBar-AC4pGV::after {background-color: var(--light)} /* Brightness */
.titleBar-AC4pGV::after {content:""; position:absolute; z-index:-1; top:0; left:0; right:0; width:100%; height:22px} /* Titlebar layer */

/* Transparency */
.theme-dark .chat-3bRxxu,.theme-dark .guildsWrapper-5TJh6A,.theme-dark .layer-3QrUeG{background-color: transparent;}
.theme-dark .chat-3bRxxu>.content-yTz4x3, .theme-dark .chat-3bRxxu form, .flex-horizontal>.flex-spacer, 
.theme-dark .uploadModal-2ifh8j .footer-3mqk7D, .theme-dark  .uploadModal-2ifh8j, .theme-dark #friends, 
.theme-dark .activityFeed-28jde9, .theme-dark .footer-2yfCgX, .theme-dark .headerBar-UHpsPw, 
.theme-dark .channels-Ie2l6A, .theme-dark .container-PNkimc, .theme-dark .ui-standard-sidebar-view .sidebar-region, 
.theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .layers-3iHuyZ, .theme-dark .guildsWrapper-5TJh6A .guilds-1q_RqH, 
.theme-dark .chat-3bRxxu .content-yTz4x3, .theme-dark .members-1998pB, .theme-dark .title-3qD0b-, .theme-dark .scroller-2v3d_F, 
.theme-dark .header-2o-2hj, .theme-dark .container-2Thooq,.theme-dark .messagesWrapper-3lZDfY
{background: var(--trans) !important;
background-color:var(--trans) !important}

/* TITLE BAR */
#app-mount .titleWrapper-3Vi_wz > div{margin-right: 98px !important;}
.activityFeed--1mYMS .iconMargin-2Js7V9,.theme-dark .activityFeed-HeiGwL  .iconMargin-2Js7V9 ,
.divider-1GKkV3,#friends .iconMargin-2Js7V9,.divider-1GKkV3 {margin: 0px 90px 0px -85px !important;}
.typeWindows-1za-n7 {height: 0;margin-top: 0}
.ui-standard-sidebar-view {top: 0}
.winButtonClose-1HsbF-:active,.winButtonMinMax-PBQ2gm:active {animation: buttonM 100ms !important}
.wordmark-2iDDfm,.winButtonMinMax-PBQ2gm svg, .winButtonClose-1HsbF- svg {display: none}
.titleBar-AC4pGV:after {background:rgba(255, 0, 0, 0);content:"";position:relative;height:20px;width:100vw;top:-15px;left:85px;-webkit-app-region:drag;}
.titleBar-AC4pGV{position:absolute;top:0px;right:0;padding:15px 0 0 0;z-index:401;}
.winButtonMinMax-PBQ2gm {opacity:1;background: url("https://cdn.rawgit.com/satoru8/Icons/18071bd1/fullscreen.svg") center}
.winButtonMinMax-PBQ2gm:last-child {background: url("https://cdn.rawgit.com/satoru8/Icons/18071bd1/remove.svg") center}
.winButtonClose-1HsbF- {opacity:1;background: url("https://cdn.rawgit.com/satoru8/Icons/18071bd1/close.svg") center; background-color: rgba(0, 0, 0, 0)}
.winButtonClose-1HsbF-:hover {background-color: rgba(245, 245, 245, 0.1)}
.titleCall-_b9o8P,.headerBar-UHpsPw{padding-right:96px}
.theme-dark .iconBadge-2dji3k {left:12px}
.theme-dark .topic-2QX7LI {color:#fff}
.title-3qD0b- .flex-1xMQg5.horizontal-1ae9ci,
.titleCall-_b9o8P .flex-1xMQg5.horizontal-1ae9ci,
.headerBar-UHpsPw .flex-1xMQg5.horizontal-1ae9ci{margin-right:72px}

        /* Main background */
.theme-dark .body-3ND3kc
{
    background: linear-gradient(rgba(35,35,35,0.3), rgba(35,35,35,0.5)), url(https://i.imgur.com/lRUPqmp.jpg) center/cover no-repeat}

.theme-dark .connectedAccount-36nQx7, 
.theme-dark .userInfoSection-2acyCx+
.userInfoSection-2acyCx 
{
    border-color: transparent;
}

.userPopout-3XzG_A {
    border: 1px solid;
    border-radius: 1px;
    border-color: rgba(255, 255, 255, 1);
    width: 400px;
    background: url(https://i.imgur.com/FWoQQO5.jpg) center/cover;
}

.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6, 
.headerPlaying-j0WQBV,
.headerNormal-T_seeN,
.headerSpotify-zpWxgT
{
    background-color: rgba(35, 35, 35, 0.3) !important;    
}

.protip-YaFfgO {
    display: none;
}
.note-3kmerW, .note-3HfJZ5, .quickMessage-2XpSaN
{
    background-color: rgba(35, 35, 35, 0.4) !important;
    
}
.headerText-2sdzFM, .userSelectText-1o1dQ7
{
    background-color: rgba(35, 35, 35, 1);
    border: 1.5px solid;
}

.root-3-B5F3 {height: 27px; background-color: rgba(35, 35, 35, 0.2)}














