/* [Ari] Unsafe Links */
.message-group .message .markup-2BOw-j a[href*="https://github.com/0mniscient"],
.markup-2BOw-j>a[href*="https://github.com/0mniscient"] {
  color: var(--sourcecheck-unsafe) !important;
}

.message-group .message .markup-2BOw-j a[href*="https://github.com/0mniscient"]:after, .markup-2BOw-j>a[href*="https://github.com/0mniscient"]:after{
  content: " " var(--sourcecheck-unsafe-link-icon) !important;
 }

/* Unsafe End */

/* [Ari] Safe Links */
.markup-2BOw-j a[href="https://github.com/Arion-Kun/Addons"]:after,
.markup-2BOw-j>a[href="http://discord.gg/actjZAG"]:after,

.markup-2BOw-j a[href^="https://www.twitch.tv/NFLD99"]:after,
.markup-2BOw-j a[href^="https://github.com/Inve1951/"]:after,
.markup-2BOw-j a[href^="https://github.com/rauenzi/"]:after
.markup-2BOw-j a[href^="https://github.com/NFLD99/"]:after,
.markup-2BOw-j a[href^="https://github.com/hammy1/"]:after,
.markup-2BOw-j a[href^="https://github.com/DevilsLynAvenged/"]:after,
.markup-2BOw-j a[href^="https://github.com/mwittrien/"]:after,
.markup-2BOw-j a[href^="https://nfld99.com/"]:after
{
  content: " " var(--sourcecheck-official-link-icon) !important;
}

.markup-2BOw-j a[href="https://github.com/Arion-Kun/Addons"],
.markup-2BOw-j>a[href="http://discord.gg/actjZAG"],

.markup-2BOw-j a[href^="https://www.twitch.tv/NFLD99"],
.markup-2BOw-j a[href^="https://github.com/Inve1951/"],
.markup-2BOw-j a[href^="https://github.com/rauenzi/"],
.markup-2BOw-j a[href^="https://github.com/NFLD99/"],
.markup-2BOw-j a[href^="https://github.com/hammy1/"],
.markup-2BOw-j a[href^="https://github.com/DevilsLynAvenged/"],
.markup-2BOw-j a[href^="https://github.com/mwittrien/"],
.markup-2BOw-j a[href^="https://nfld99.com/"]
{
  color: var(--sourcecheck-official) !important;
}
/* Safe End */