/* Tropical Dependency */
@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
/* END */














/* Arion */
.avatar-1BDn8e[src*="155396491853168640"]:hover + h2::after {
  content: '              Arion              ';
  color: var(--accent);
  background-image: url(https://i.imgur.com/0tAtFyG.gif);
  text-shadow: -1px 0 black, 
    0 1px black, 
    1px 0 black, 
    0 -1px black !important;
}

  /* Arion Glow */
  .avatar-1BDn8e[src*='155396491853168640']{
    border-radius: 10px!important;
    box-shadow: 0 0 0 25px rgba(0, 173, 255, 0.2)!important;
    animation: mentionpulse 1.5s infinite, popoutanim .2s;
}
/* Dev Tag on Arion */
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_bdfdb*="155396491853168640"] + .headerText-2sdzFM .headerTag-2pZJzA:after {
  content:'Dev';
  position:absolute;
  right:10px;
  border-radius:2px;
  color: var(--accent);
  font-size: .8em;
  font-weight: 500;
  height: 1.28em;
  padding: .072rem .275rem;
  line-height:1.28em;
  background:#fff;
  z-index:2;
}
[user_by_bdfdb*="155396491853168640"],
[aria-label*="155396491853168640,"] {
	--user-background: url('https://i.imgur.com/pqdICWJ.gif');
}

/* ----------------------------------------- */
/* Miranda */
  .avatar-1BDn8e[src*="197623684964286464"]:hover + h2::after {
    content: " This is cute Miwanda uwu";
    --main-color: #000;
    text-shadow: FFF;
    background-image: url(https://i.imgur.com/wQS2mYR.gif);

  }
/* Jarich */
.avatar-1BDn8e[src*="197783866327564289"]:hover + h2::after {
    content: " This is Miwanda's Boeyfwiend";
    --main-color: #ADD8E6;
  }

/* YoloAntagonist */
.avatar-1BDn8e[src*="264570399096963074"]:hover + h2::after {
    content: " Yolo the Yolo-i-ist";
    color: #000
    --main-color: #ADD8E6;
}

/* GhostKaiser000 by Joichi */
.avatar-1BDn8e[src*="626846506258923531"]:hover + h2::after {
  content: " Joichi's Slave";
  color: #000
  --main-color: #ADD8E6;
}

/* Darky01#1309 */
.avatar-1BDn8e[src*="391983841494958100"]:hover + h2::after {
  content: '                                  ';
  color: #FFF;
  --main-color: #FFF;
  background-image: url(https://cdn.discordapp.com/attachments/616004825502580755/683075330256142346/1d5dbd4588a0d02546d0fe507bd31e28.gif);
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: -1px 0 black, 
    0 1px black, 
    1px 0 black, 
    0 -1px black !important;
}
[user_by_bdfdb*="391983841494958100"],
[aria-label*="391983841494958100,"] {
	--user-background: url('https://cdn.discordapp.com/attachments/533647732116684800/687747118282047505/UF89ccDo0ByHJUPsyYrZf73G.gif');
}
