/*link: https://arion-kun.github.io/Addons/Additionals/For-People/friends-tags.css */
/* Arion */
.avatar-1BDn8e[src*="155396491853168640"]:hover + span::after {
    content: " Theme Developer";
    animation: mentionpulse 1.5s infinite, popoutanim .2s, fadeFromRight .2s;
  }

  /* Arion Glow */
  .avatar-1BDn8e[src*='155396491853168640']{
    border-radius: 10px!important;
    box-shadow: 0 0 0 25px rgba(0, 173, 255, 0.2)!important;
    animation: mentionpulse 1.5s infinite, popoutanim .2s;
}

/* Miranda */
.avatar-1BDn8e[src*="197623684964286464"]:hover + span::after {
    content: ' This is cute Miwanda uwu';
    --main-color: #ffb9bb;
  }
/* Jarich */
.avatar-1BDn8e[src*="197783866327564289"]:hover + span::after {
    content: " This is Miwanda's Boeyfwiend";
    --main-color: #ADD8E6;
  }
