:root{
    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-official: var(--BetterDocsBlockerGreen, #43B581);

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-trusted: var(--BetterDocsBlockerGold, #FAA61A);

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe: var(--BetterDocsBlockerRed, #f04747);

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-official-link-icon: var(--BetterDocsBlockerCheckLogo3, url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-official-link-icon.svg'));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-official-embed-icon: var(--BetterDocsBlockerCheck, url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-official-embed-icon.svg'));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-trusted-link-icon: var(--BetterDocsBlockerCheckLogo2, url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-trusted-link-icon.svg'));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-trusted-embed-icon: var(--BetterDocsBlockerCheck, url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-trusted-embed-icon.svg'));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-link-icon: var(--BetterDocsBlockerWarnLogo2, url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-unsafe-link-icon.png'));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-embed-icon: var(--BetterDocsBlockerExclamation, url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-unsafe-embed-icon.svg'));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-embed-logo-dark: var(--BetterDocsBlockerWarnLogo, url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-unsafe-embed-logo-dark.png'));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-embed-logo-light: url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-unsafe-embed-logo-light');
    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-embed-bg-dark: var(--BetterDocsBlockerBlack1, rgb(22, 22, 22));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-embed-bg-light: #FDFDFD;

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-embed-fg-dark: var(--BetterDocsBlockerWhite, #bbb);

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-embed-fg-light: rgb(51, 51, 51);

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-embed-badge-fg: #fff;

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-shadow-tint-dark: var(--BetterDocsBlockerBlack2, rgba(0, 0, 0, 0.5));

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-shadow-tint-light: rgba(255, 255, 255, 0.5);

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-shadow: var(--BetterDocsBlockerRed, #f04747);

    /* =========================================================================================================================================================================================================================================================================== */

    --sourcecheck-unsafe-server-icon: var(--BetterDocsBlockerWarnLogo3, url('https://arion-kun.github.io/Addons/Assets/Images/vars/sourcecheck-unsafe-server-icon.png'));

    /* =========================================================================================================================================================================================================================================================================== */
}