/*######################################################################################################################################################################################################
#                                                                                                                                                                                                      # 
#                                                                                                                                                                                                      #
#                 AAA                                     iiii                                                                 1111111    222222222222222     222222222222222     333333333333333      #
#                A:::A                                   i::::i                                         ######    ######      1::::::1   2:::::::::::::::22  2:::::::::::::::22  3:::::::::::::::33    #
#               A:::::A                                   iiii                                          #::::#    #::::#     1:::::::1   2::::::222222:::::2 2::::::222222:::::2 3::::::33333::::::3   #
#              A:::::::A                                                                                #::::#    #::::#     111:::::1   2222222     2:::::2 2222222     2:::::2 3333333     3:::::3   #   
#             A:::::::::A           rrrrr   rrrrrrrrr   iiiiiii    ooooooooooo   nnnn  nnnnnnnn    ######::::######::::######   1::::1               2:::::2             2:::::2             3:::::3   #
#            A:::::A:::::A          r::::rrr:::::::::r  i:::::i  oo:::::::::::oo n:::nn::::::::nn  #::::::::::::::::::::::::#   1::::1               2:::::2             2:::::2             3:::::3   #
#           A:::::A A:::::A         r:::::::::::::::::r  i::::i o:::::::::::::::on::::::::::::::nn ######::::######::::######   1::::1            2222::::2           2222::::2      33333333:::::3    #
#          A:::::A   A:::::A        rr::::::rrrrr::::::r i::::i o:::::ooooo:::::onn:::::::::::::::n     #::::#    #::::#        1::::l       22222::::::22       22222::::::22       3:::::::::::3     #
#         A:::::A     A:::::A        r:::::r     r:::::r i::::i o::::o     o::::o  n:::::nnnn:::::n     #::::#    #::::#        1::::l     22::::::::222       22::::::::222         33333333:::::3    #
#        A:::::AAAAAAAAA:::::A       r:::::r     rrrrrrr i::::i o::::o     o::::o  n::::n    n::::n######::::######::::######   1::::l    2:::::22222         2:::::22222                    3:::::3   #   
#       A:::::::::::::::::::::A      r:::::r             i::::i o::::o     o::::o  n::::n    n::::n#::::::::::::::::::::::::#   1::::l   2:::::2             2:::::2                         3:::::3   #
#      A:::::AAAAAAAAAAAAA:::::A     r:::::r             i::::i o::::o     o::::o  n::::n    n::::n######::::######::::######   1::::l   2:::::2             2:::::2                         3:::::3   #
#     A:::::A             A:::::A    r:::::r            i::::::io:::::ooooo:::::o  n::::n    n::::n     #::::#    #::::#     111::::::1112:::::2       2222222:::::2       2222223333333     3:::::3   #
#    A:::::A               A:::::A   r:::::r            i::::::io:::::::::::::::o  n::::n    n::::n     #::::#    #::::#     1::::::::::12::::::2222222:::::22::::::2222222:::::23::::::33333::::::3   #
#   A:::::A                 A:::::A  r:::::r            i::::::i oo:::::::::::oo   n::::n    n::::n     ######    ######     1::::::::::12::::::::::::::::::22::::::::::::::::::23:::::::::::::::33    #
#  AAAAAAA                   AAAAAAA rrrrrrr            iiiiiiii   ooooooooooo     nnnnnn    nnnnnn                          1111111111112222222222222222222222222222222222222222 333333333333333      #
#                                                                                                                                                                                                      #
#                                                                                                                                                                                                      #
########################################################################################################################################################################################################
                        #  █▀▄▀█ █▀▀ █▀▀ █▀▀ █▀▀█ █▀▀▀ █▀▀     ▀▀█▀▀ █▀▀█     █▀▀ █▀▀█ █▀▀▄ █▀▀   █▀▀▄ █▀▀█ ▀▀█▀▀     █▀▀ █▀▀█ █▀▀ █▀▀ ▀▀█▀▀ █▀▀█ █▀▀█  #
                        #  █░▀░█ █▀▀ ▀▀█ ▀▀█ █▄▄█ █░▀█ █▀▀     ░░█░░ █░░█     █░░ █░░█ █░░█ █▀▀   █░░█ █░░█ ░░█░░     ▀▀█ █░░█ █▀▀ █░░ ░░█░░ █▄▄▀ █▄▄█  #
                        #  ▀░░░▀ ▀▀▀ ▀▀▀ ▀▀▀ ▀░░▀ ▀▀▀▀ ▀▀▀     ░░▀░░ ▀▀▀▀     ▀▀▀ ▀▀▀▀ ▀▀▀░ ▀▀▀   ▀▀▀░ ▀▀▀▀ ░░▀░░     ▀▀▀ █▀▀▀ ▀▀▀ ▀▀▀ ░░▀░░ ▀░▀▀ ▀░░▀  #
                        #################################################################################################################################
                                                              #  If you're gonna obfuscate your css and then   #
                                                              #  say others can only edit for personal use     #
                                                              #  then I won't give a single shit if it has     #
                                                              #  has a license behind it I can share it.       #
                                                              #                                                #
                                                              #  I could share it.                             #
                                                              #  If you dont want that deobfuscate your code   #
                                                              #  and then release it as private edits only.    #
                                                              #                                                #
                                                              #  -By Arion#1223 ya Fuck!                       #              
                                        /*###############################################################################################*/
                                       /*#*/@import url(https://arion-kun.github.io/Addons/Additionals/Dark-Theme/Imports-Fetch.css);/*#*/
                                      /*###############################################################################################*/


/* Final Additionals Based on Priorities */

/* Removes the grey background from the 'Home' button that leads to the friends list */
.wrapper-1BJsBx[aria-label="Home"] .childWrapper-anI2G9 {
	/* background-image: var(--homeButtonImage), transparent; */
	background-position: center;
	background-size: cover;
	background-clip: border-box;
	background-repeat: no-repeat;
  }
/* Create DM Remove */
.privateChannelRecipientsInviteButtonIcon-cXLJ7f {display: none;}
/* Arion#1223 */

/* Chatbox Fix 13/12/2019 */
.attachWrapper-1_D-pj {
  z-index: 1;
}
.chat-3bRxxu .textArea-2Spzkt {
  border: 2px solid rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  transition: all .15s ease-in-out;
}
.chat-3bRxxu .textArea-2Spzkt:focus-within {
  border: 2px solid var(--backgroundColor);
  border-radius: 8px;
  transition: all .15s ease-in-out;
}
.placeholder-P6ptfj {
  left: 65px
}
.slateTextArea-1bp44y {
  position: inherit;
}
.webkit-26NYEN .buttons-205you {
  border: 2px solid transparent;
  margin-right: 0px;
}
.channelTextArea-1LDbYG .attachWrapper-1_D-pj {
  left: 2px;
  top: 2px;
}
/* Arion#1223 */

/* BG Opacity Fix */
.container-2lgZY8, .theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
  background-color: rgba(1, 1, 1, 1) !important;
}
/* Arion#1223 */

.appMount-3lHmkl::after {
  content: none;
}
.appMount-3lHmkl::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background-image: var(--backgroundImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
  background-origin: border-box;
  -webkit-mask: radial-gradient(#000 40%, transparent);
  z-index: 0;
  opacity: var(--backgroundImageOpacity);
}

