@import url(https://arion-kun.github.io/Addons/Dependencies/MainTheme.css);

:root {
    --Main-Colour: rgba(124, 185, 232, 1);
    --Background-Colour: rgba(0, 0, 0, 0.8);
    --Secondary-Background-Colour: rgba(0,0,0, .2);
    --Secondary-Main-Colour: rgba(137, 207, 240, 0.9);
  
    --Chat-Background: url(https://arion-kun.github.io/Addons/Assets/Images/Chat-Background.jpg)!important;
    --Popout-Background: url(https://arion-kun.github.io/Addons/Assets/Images/Popout-Background.png)!important;
    /* Extra Stuff */ 
    --Update-Text: " Arion "
    !important;
    --Theme-Variant: " With love from"
    !important;
    --load1: "From"
    !important;
    --load2: "Arion"
    !important;
    --load3: "To You! <3"
    !important;
  }
/* Memberslist background */
.theme-dark .members-1998pB{
    background:url(https://arion-kun.github.io/Addons/Assets/Images/Memberslist-Background.png) 50% 50%/cover!important;
}
/* DMs - Pinned Message Circle */
.iconBadge-qZ4Ksk{
  background-color: rgb(255, 0, 0)!important;
}
